.burger {
    position: relative;
    width: 2.5rem;
    height: 2rem;
    background: transparent;
    cursor: pointer;
    display: block;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 0.25rem;
    width: 100%;
    background: #33eaff;
    border-radius: 1rem;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0;
    left: 0.5rem;
}

.burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 1.75rem;
    left: 0.5rem;
}

.menu-box {
    position: absolute;
    top: calc(100% + 0.5rem);
    right: 0;
    min-width: 10rem;
    padding: 2rem 0.75rem;
    background: #111;
    text-shadow: none;
    border-radius: 2rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.4);

    opacity: 0;
    pointer-events: none;
    transform: translateY(-0.5rem);
    transition: opacity 0.2s ease, transform 0.2s ease;
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.menu-box.open {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.menu-box a:hover {
    transform: scale(1.1);
}

.profile-pic {
    width: 4rem;
    transition: transform 0.3s ease;
}

.profile-pic:hover {
    transform: scale(1.25);
    cursor: pointer;
}

#user-profile-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 900;
    text-shadow: none;
}

#user-profile-modal.active {
    display: flex;
}

#user-profile-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1.5rem;
    border-radius: 1rem;
    border: 2px solid #007BFF;
    width: 75%;
    height: 80%;
    overflow-y: auto;
    text-align: center;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
}

.middle-close-div {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: relative;
    top: 1rem;
    right: -1rem;
    margin: -2rem;
}

#user-profile-close {
    font-size: 2rem;
    font-weight: bold;
    color: #555;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
    padding: 0 0.75rem;
}

#user-profile-close:hover {
    transform: scale(1.3);
    color: #33eaff;
}

#user-profile-title {
    color: black;
    text-shadow: none;
}

#user-profile-error {
    color: #ff0000;
}

.middle-button {
    display: none;
}

#user-profile-div {
    width: 100%;
    height: 90%;
    box-shadow: none;
    overflow: visible;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.user_middle_div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.user_avatar_div {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#user_avatar {
    width: 90%;
    transition: transform 0.3s ease;
    cursor: pointer;
}

#user_avatar:hover {
    transform: scale(1.05);
}

#user_avatar:active {
    transform: scale(0.95);
}

.user_div {
    width: 60%;
    height: 100%;
    overflow: auto;
}

#user_form {
    padding: 1rem 0;
}

#user_eye {
    transform: translateX(-3rem) translateY(1.25rem);
    position: absolute;
}

#user_eye:hover {
    transform:
        translateX(-3rem)
        translateY(1.25rem)
        scale(1.1);
}

#user_eye:active {
    transform:
        translateX(-3rem)
        translateY(1.25rem)
        scale(0.9);
}

.user_read {
    border: none;
}

.user_read:focus-visible {
    border: none;
}

#logout-btn {
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.user-input {
    position: relative;
    padding: 1.5rem;
    font-size: 1.1rem;
    font-family: 'Audiowide', sans-serif;
    font-weight: 600;
    color: #fff;
    background: none;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.4s ease;
    border-radius: 5rem;
    width: 30rem;
    color: black;
}

.form_container {
    display: flex;
    flex-direction: column;
    height: 95%;
    justify-content: space-between;
    overflow: visible;
}

#login_form input {
    background: white;
}

#password_area {
    display: flex;
    gap: 1rem;
}

.password_eye {
    width: 2rem;
    transform:
        translateX(13rem)
        translateY(-12.5rem);
    transition: transform 0.3s ease;
}

.password_eye:hover {
    transform:
        translateX(13rem)
        translateY(-12.5rem)
        scale(1.1);
    cursor: pointer;
}

.password_eye:active {
    transform:
        translateX(13rem)
        translateY(-12.5rem)
        scale(0.9);
}

#avatar_div {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;
    padding: 0 2.5rem;
}

#avatar_preview_and_base {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#avatar_preview {
    border-radius: 50%;
    border: 0.25rem solid black;
    width: 20rem;
    height: 20rem;
}

.avatar_options {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    overflow: auto;
    padding: 1rem;
}

#avatar_base {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    overflow: auto;
    padding: 1rem;
}

#theme_options {
    padding: 0 1rem;
}

.avatar_option_title {
    text-decoration: underline double;
    width: 100%;
}

.avatar_options_section {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.base {
    flex-direction: column;
}

.avatar_option {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.avatar_option_text {
    width: 25rem;
}

#switch_option {
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease;
}

#switch_option:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

#switch_option:active {
    transform: scale(0.9);
}

.avatar_arrow {
    width: 2rem;
    transition: transform 0.3s ease;
}

.avatar_arrow:hover {
    cursor: pointer;
}

#left_arrow {
    transform: rotate(-90deg);
}

#left_arrow:hover {
    transform: rotate(-90deg) scale(1.2);
}

#left_arrow:active {
    transform: rotate(-90deg) scale(0.8);
}

#right_arrow {
    transform: rotate(90deg);
}

#right_arrow:hover {
    transform: rotate(90deg) scale(1.2);
}

#right_arrow:active {
    transform: rotate(90deg) scale(0.8);
}

.avatar_btn {
    width: max-content;
    padding: 0.5rem 1rem;
    background: transparent;
    border-radius: 20%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.avatar_btn:hover {
    transform: scale(1.1);
}

.avatar_btn:active {
    transform: scale(0.9);
}

.user-button:hover {
    transform: scale(1.1);
}

.user-button:active {
    transform: scale(0.9);
}